head
    title Students Enrolled

    div(class = 'ui container')
        div(class='ui inverted segment')
            div(class='ui inverted secondary menu')
                a(class = 'item' href='/') Home
                a(class = 'item' href='/schools') Schools
                a(class = 'item' href='/students') Students
                a(class = 'item' href='/courses') Courses
                a(class = 'item' href='/clubs') Clubs

        div(class = 'float-container')
            each row in rows
                div(class='float-child')
                    div(class = 'ui card')
                        div(class = 'image')
                            img(src='../image/elyse.png')

                        div(class = 'content')
                            a(class='header' href='/students/' + row.student_number) #{row.student_name}
                            div(class = 'meta')
                                span(class='date') Role: #{row.club_role}
                                br
        // each row in rows
        //     div(class = 'ui relaxed divided list')
        //         div(class = 'item')
        //             div(class='content')
        //                 a(class='header' href='/students/'+ row.student_number) #{row.student_name}
        //                 div(class = 'description') Role: #{row.club_role}


    link(rel='stylesheet' href='/css.css')