head
    title Home Page

    div(class = 'ui container')
        div(class='ui inverted segment')
            div(class='ui inverted secondary menu')
                a(class='item' href='/') Home
                a(class = 'item' href='/schools') Schools
                a(class = 'item' href='/students') Students
                a(class = 'item' href='/courses') Courses
                a(class = 'item' href='/clubs') Clubs


        h3 Welcome to the Ottawa Schools Database, choose what data you want to view from the navigation bar above
        img(src='../image/home.png' style='width: 100%')



    link(rel='stylesheet', href='/css.css')

